#menu {
   
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: inherit;
    
  }

  #menu:hover{
    margin-left: 3px; 
    transform: scale(1.2);
  }

 
  .bg-body-tertiary {
    width: 50vh;
    margin: auto; /* add margin auto to center horizontally */
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, #ffd700, #fff); /* degradê dourado */
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* efeito vitral */
    border-radius: 10px; /* arredondar as bordas */
  }
  
  /* Adicionar um efeito de brilho mais intenso */
  .bg-body-tertiary:hover {
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
  }
  @media (max-width: 768px) {
    .bg-body-tertiary {
      width: 30vh;
      height: 30vh;
    }
  }
  
  @media (max-width: 480px) {
    .bg-body-tertiary {
      width: 20vh;
      height: 20vh;
    }
  }